<div class="login-container">
  <div class="form-container">
    <h2>Iniciar sesión </h2>
    <nz-alert *ngIf="error" nzShowIcon nzType="error" [nzMessage]="error" [ngStyle]="{ 'margin-bottom': '16px' }">
    </nz-alert>
    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="email">Email</label>
        <input nz-input type="email" name="email" placeholder="ejemplo@gmail.com" [(ngModel)]="email" />
      </div>
      <div class="input-container">
        <label for="password">Contraseña</label>
        <input nz-input type="password" name="password" placeholder="Introduce tu contraseña" [(ngModel)]="password" />
      </div>
      <div class="cta-container">
        <button nz-button type="submit" [disabled]="!canSubmit()" [nzLoading]="loading">
          Iniciar sesión
        </button>
        <div><a routerLink="/register">Registrate!</a></div>
      </div>
    </form>
  </div>
</div>
