<div style="margin-top: 50px;text-align:center;margin-bottom: 50px;">
  <h1>Galeria de imágenes</h1>
</div>

<div class="galeria">
  <div class="foto">
    <div class="contenedor-modal">
      <img src="./assets/imagenes_galeria/img2.jpg">
        <div class="overlay">
          <h2>Tienda</h2>
        </div>
      </div>
    </div>

    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img4.jpg">
        <div class="overlay">
          <h2>Escaparate</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img5.jpg">
        <div class="overlay">
          <h2>Envasados al vacío, vinos y whisky</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img6.jpg">
        <div class="overlay">
          <h2>Morros y embutido</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img10.jpg">
        <div class="overlay">
          <h2>Crudos, preparados y anchoas</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img12.jpg">
        <div class="overlay">
          <h2>Quesos varios</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img13.jpg">
        <div class="overlay">
          <h2>Quesos varios</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img17.jpg">
        <div class="overlay">
          <h2>Báscula y envasados al vacío</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img18.jpg">
        <div class="overlay">
          <h2>Embutidos varios</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img19.jpg">
        <div class="overlay">
          <h2>Patas de jamón</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img25.jpg">
        <div class="overlay">
          <h2>Vinos y champán</h2>
        </div>
      </div>
    </div>
    <div class="foto">
      <div class="contenedor-modal">
        <img src="./assets/imagenes_galeria/img27.jpg">
        <div class="overlay">
          <h2>Herramientas</h2>
        </div>
      </div>
    </div>
  </div>
