<h1><span>Image Gallery</span></h1>
<div class="img-gallery">
    <img src="./assets/imagenes_galeria/img1.jpg">
    <img src="./assets/imagenes_galeria/img2.jpg">
    <img src="./assets/imagenes_galeria/img3.jpg">
    <img src="./assets/imagenes_galeria/img4.jpg">
    <img src="./assets/imagenes_galeria/img5.jpg">
    <img src="./assets/imagenes_galeria/img6.jpg">
    <img src="./assets/imagenes_galeria/img9.jpg">
    <img src="./assets/imagenes_galeria/img10.jpg">
    <img src="./assets/imagenes_galeria/img12.jpg">
    <img src="./assets/imagenes_galeria/img13.jpg">
    <img src="./assets/imagenes_galeria/img17.jpg">
    <img src="./assets/imagenes_galeria/img18.jpg">
    <img src="./assets/imagenes_galeria/img19.jpg">
    <img src="./assets/imagenes_galeria/img24.jpg">
    <img src="./assets/imagenes_galeria/img25.jpg">
    <img src="./assets/imagenes_galeria/img27.jpg">

</div>
