<div id="imagen1" class="hdiv">
  <div id="textoImagen">
    <h1 id="header1">CHARCUTERIA LOS TOCINOS</h1>
    <a id="botonImagen" routerLink="/products">COMPRA YA!</a>
  </div>
</div>

<div>

</div>
<div class="vdiv">
  <img id="imagen2" src="./assets/img10.jpg" alt="imagen">
  <div class="xdiv">
    <h1>Comprar Carne por Internet</h1>
    <h2>
      En la carnicería Los Tocinos podrás comprar chuletones de vaca vieja, cordero Lechal, cabrito, cerdo, pollo,
      cochinillo de Segovia… así como productos gourmet y la mejor carne para barbacoa, no te pierdas nuestra selección
      de hamburguesas, pinchos y otros cortes de carne específicos para la parrilla.
    </h2>
    <p></p>
    <h2>
      En Masmit disponemos también de una amplia selección de carne barata, y no por su bajo precio implica que sea un
      producto de mala calidad. Toda la carne que vendemos online ha sido previamente seleccionada garantizando siempre
      un producto fresco para que quedes siempre satisfecho o satisfecha.
    </h2>
  </div>
</div>


<div class="bdiv">
  <div class="ndiv">
    <h1>Comprar Carne por Internet</h1>
    <h2>
      Estimad@ futuro cliente, en nombre de charcutería Los Tocinos, queremos agradecer inmensamente por la decisión
      de adquirir nuestro gran producto.
    </h2>
    <p></p>
    <h2>
      Danos tu opinión y tus impresiones sobre nuestros servicios. Sin duda, será una oportunidad para comprender mejor
      cómo nuestro producto puede ayudar a otras personas y también para mejorarlo. ¡Si necesitas ayuda no dudes en
      hablar con nosotros!
    </h2>
    <p></p>
  </div>
  <img id="imagen2" src="./assets/img12.jpg" alt="imagen">
</div>


<!-- video -->
<div style="text-align: center;margin-top: 100px;margin-bottom: 100px;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/g0ebS9Rjp1k" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>

<!-- end video -->
<div class="vdiv">
  <img id="imagen2" src="./assets/img18.jpg" alt="imagen">
  <div class="xdiv">
    <h1>¿Dónde estamos?</h1>
    <h2>
      Centro Comercial Maragall de Barcelona está situado en Passeig Maragall, 28, 08032 Barcelona. En esta web
      te vamos a mostrar toda la información que necesitas a cerca de Centro Comercial Maragall, todas las opiniones de
      los usuarios, horario, ubicación además de los medios de contacto con este centro comercial. En esta guía posdrás
      encontrar información de interes sobre el horario de Centro Comercial Maragall, la dirección, los fetivos
      abiertos, además de otros centros comerciales en Barcelona próximos a Centro Comercial Maragall.
    </h2>
  </div>
</div>

<div style="width: 70%; margin-left: 15%;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/g0ebS9Rjp1k" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>

<h1 id="horario1">Horario del centro comercial</h1>
<div class="bdiv2">
  <div class="ndiv2">
    <table class="horario">
      <tbody>
        <tr>
          <td>Lunes</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Miércoles</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Sábado</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td>Cerrado</td>
        </tr>
      </tbody>
    </table>
  </div>
  <img id="imagen2" src="./assets/img13.jpg" alt="imagen">
</div>

<div class="about-section">
</div>

<div class="row" style="margin-left: 270px; margin-right: 270px">
  <div class="column">
    <div class="card">
      <img src="./assets/imagen_admins/Mario.jpg" alt="Jane" style="width: 100%;border-radius: 10px;">
      <div class="container">
        <h2>Mario Molina Roldan</h2>
        <p class="title">Front-End</p>
        <p>Un mastodonte, titán, fiera, crack, en Front-End.</p>
        <p>mariomolrol@campus.monlau.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./assets/imagen_admins/Alex.jpg" alt="Jane" style="width:100%;border-radius: 10px;">
      <div class="container">
        <h2>Alex Planellas García</h2>
        <p class="title">Back-end</p>
        <p>Jugador profesional de Fifa, un hacha en back-end, gracioso y buen lider.</p>
        <p>alejandroplagar@campus.monlau.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./assets/imagen_admins/Walter.jpg" alt="Mike" style="width:100%;border-radius: 10px;">
      <div class="container">
        <h2>Walter Grabriel Cachay</h2>
        <p class="title">Sistemas y servidores</p>
        <p>¿Te imaginas el tipico friqui de sistemas? Pues es así pero mas listo y menos friqui.</p>
        <p>walterapacac@campus.monlau.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./assets/imagen_admins/edgar.jpg" alt="John" style="width:309px; height: 414px;border-radius: 10px;">
      <div class="container">
        <h2>Edgar Rosa Rey</h2>
        <p class="title">Back-end</p>
        <p>Le gusta demasiado la fiesta, pero es tan bueno en lo suyo que se le permite.</p>
        <p>edgarrosrey@campus.monlau.com</p>
      </div>
    </div>
  </div>
</div>
