<div id="imagen1" class="hdiv">
  <div id="textoImagen">
    <h1 id="header1">CHARCUTERIA LOS TOCINOS</h1>
    <a id="botonImagen" routerLink="/products">COMPRA YA!</a>
  </div>
</div>

<div>

</div>
<div class="vdiv">
  <img id="imagen2" src="./assets/img1.jpg" alt="imagen">
  <div class="xdiv">
    <h1>Gracias por escogernos</h1>
    <h2>Te agradecemos de todo corazón que nos hayas escogido como tu tienda de carne favorita! Te estamos esperando,
      entra en Charcuteria los Tocinos y haz tu primera compra, no te arrepentirás
    </h2>
  </div>
</div>


<div class="bdiv">
  <div class="ndiv">
    <h1>Comprar Carne por Internet</h1>
    <h2>
      En la carnicería Los Tocinos podrás comprar chuletones de vaca vieja, cordero Lechal, cabrito, cerdo, pollo,
      cochinillo de Segovia… así como productos gourmet y la mejor carne para barbacoa, no te pierdas nuestra selección
      de hamburguesas, pinchos y otros cortes de carne específicos para la parrilla.
    </h2>
    <p></p>
    <h2>
      En Masmit disponemos también de una amplia selección de carne barata, y no por su bajo precio implica que sea un
      producto de mala calidad. Toda la carne que vendemos online ha sido previamente seleccionada garantizando siempre
      un producto fresco para que quedes siempre satisfecho o satisfecha.
    </h2>
    <p></p>
  </div>
  <img id="imagen2" src="./assets/img1.jpg" alt="imagen">
</div>


<!-- video -->
<div style="text-align: center;margin-top: 100px;margin-bottom: 100px;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/g0ebS9Rjp1k" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>

<!-- end video -->
<div class="vdiv">
  <img id="imagen2" src="./assets/img1.jpg" alt="imagen">
  <div class="xdiv">
    <h1>¿Dónde estamos?</h1>
    <h2>
      Centro Comercial Maragall de Barcelona está situado en Passeig Maragall, 28, 08032 Barcelona. En esta web
      te vamos a mostrar toda la información que necesitas a cerca de Centro Comercial Maragall, todas las opiniones de
      los usuarios, horario, ubicación además de los medios de contacto con este centro comercial. En esta guía posdrás
      encontrar información de interes sobre el horario de Centro Comercial Maragall, la dirección, los fetivos
      abiertos, además de otros centros comerciales en Barcelona próximos a Centro Comercial Maragall.
    </h2>
  </div>
</div>

<div style="width: 70%; margin-left: 15%;">
  <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Passeig%20Maragall,%2028%20Barcelona,%20Spain+(Donde%20estamos?)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
      href="https://www.gps.ie/car-satnav-gps/">Sat Navs</a>
  </iframe>
</div>

<h1 id="horario1">Horario del centro comercial</h1>
<div class="bdiv2">
  <div class="ndiv2">
    <table class="horario">
      <tbody>
        <tr>
          <td>Lunes</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Miércoles</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Sábado</td>
          <td>7:00 a 20:30</td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td>Cerrado</td>
        </tr>
      </tbody>
    </table>
  </div>
  <img id="imagen2" src="./assets/img1.jpg" alt="imagen">
</div>
