#imagen1{
    /*usar una imagen como el background*/
    background: linear-gradient(rgba(0, 0, 0, 0.309), rgba(0, 0, 0, 0.803)),
    url(/assets/img1.jpg) center/cover no-repeat fixed;
    border-top: 1px solid black;
}
.hdiv {
    /* centrar todo */
    align-items: center;
    text-align: left;
    justify-content: left;
    /* display */
    display: flex;
    /* 20% de la pantalla */
    min-height: 52vh;
    /* Font */
    font-size: 24px;
    color: rgb(222, 43, 43);
}
#header1{
    display:block;
    min-height: 200px;
    max-width: 400px;
    color: aliceblue;
}
#textoImagen{
    margin-left: 50px;
}
#botonImagen{
    background-color: rgb(206, 33, 33);
    border-radius: 5%;
    padding: 10px 20px;
    color: aliceblue;
}
/*Islote 1*/
.vdiv{
    align-items: center;
    text-align: left;
    justify-content: center;
    min-height: 200px;
    margin: 20px;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 3%;
}
.xdiv{
    min-height: 200px;
    max-width: 1350px;
}
#imagen2{
    display: block;
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 20px;
}
/*Islote 2*/
.bdiv{
    align-items: center;
    text-align: left;
    justify-content: center;
    min-height: 200px;
    margin: 30px;
    display: flex;
}
.ndiv{
    min-height: 200px;
    max-width: 1050px;
    margin-right: 10px;
}
#imagen3{
    display: block;
    min-height: 200px;
    min-width: 200px;
    float: right;
    margin-right: 20px;
}




/*tabla horario*/
.bdiv2{
    align-items: center;
    text-align: left;
    min-height: 200px;
    margin: 70px;
    display: flex;
    margin-left: 15%;
}

.ndiv2 {
    min-height: 200px;
    max-width: 900px;
    margin-right: 555px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 200%;
}

table, td, th {
    border: 1px solid rgba(0,0,0,.1);
}

.horario {
    min-width: 525px;
    justify-content: center;
}
