<div class="register-container">
  <div class="form-container">
    <h2>Registrate</h2>
    <nz-alert *ngIf="errorMessage" nzShowIcon nzType="error" [nzMessage]="errorMessage"
      [ngStyle]="{ 'margin-bottom': '16px' }"></nz-alert>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="fullName">Nombre completo</label>
        <input nz-input type="text" name="fullName" [(ngModel)]="fullName" placeholder="Introduce tu nombre completo" />
      </div>
      <div class="input-container">
        <label for="email">Email</label>
        <input nz-input type="email" name="email" [(ngModel)]="email" placeholder="Introduce tu email" />
      </div>
      <div class="🤪">
        <div class="input-container">
          <label for="password">Contraseña</label>
          <input nz-input type="password" name="password" [(ngModel)]="password"
            placeholder="Introduce una contraseña" />
        </div>
        <div class="input-container">
          <label for="confirmPassword">Confirma tu contraseña</label>
          <input nz-input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
            placeholder="Confirma tu contraseña" />
        </div>
      </div>
      <div class="✅">
        <div class="checkbox-container">
          <input nz-input type="checkbox" />
          <span>He leído y acepto los términos y condiciones de uso </span>
        </div>
      </div>
      <div class="cta-container">
        <!-- <input type="submit" value="Sign up" /> -->
        <button nz-button type="submit" [disabled]="!canSubmit()" [nzLoading]="loading">
          Registrate
        </button>
        <div>
          <div><a routerLink="/login">Tienes un usuario existente? Inicia sesión aquí</a></div>
        </div>
      </div>
    </form>
  </div>
</div>
