<div class="profile-container">
    <div class="form-container">
        <h2>Añadir Productos</h2>
        <form #adminForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <label>Id del producto: </label><br>
                <input type="number" class="form-control" name="id" [(ngModel)]="id" placeholder="Enter your id">
            </div>
            <div class="input-container">
                <label>Nombre del producto: </label><br>
                <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Enter your name">
            </div>
            <div class="input-container">
                <label>Imagen del producto: </label><br>
                <input type="text" class="form-control" name="image" [(ngModel)]="image" placeholder="Enter your url image">
            </div>
            <div class="input-container">
                <label>Descripción del producto: </label><br>
                <input type="text" class="form-control" name="description" [(ngModel)]="description" placeholder="Enter your description">
            </div>
            <div class="input-container">
                <label>Precio del producto: </label><br>
                <input type="number" class="form-control" name="price" [(ngModel)]="price" placeholder="Enter the price">
            </div>
            <div class="input-container">
                <label>Cantidad: </label><br>
                <input type="number" class="form-control" name="quantity" [(ngModel)]="quantity" placeholder="Enter the quantity">
            </div>
            <div class="input-container">
                <label>Categoria: </label><br>
                <input type="text" class="form-control" name="category" [(ngModel)]="category" placeholder="Enter the category">
            </div>
            <div class="input-container">
                <label>Categoria ID: </label><br>
                <input type="number" class="form-control" name="categoryId" [(ngModel)]="categoryId" placeholder="Enter the categoryId">
            </div><br>
            <div class="cta-container">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>